#root,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.header {
  height: 32px;
  border: 1px solid red;
}

.content,
.sub-wrap,
.sub-wrap > div {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .ant-table-wrapper,
.ant-spin-nested-loading,
.ant-spin-container,
.ant-spin-container,
.ant-table,
.table-container,
.ant-table-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

.ant-layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ant-layout {
  flex: 1;
}

body {
  height: 100vh;
}

.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
